form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px;
}

.container {
    margin: 24px;
}

img {
    width: 100%;
}

